@charset "UTF-8";


body {
  font-family: 'Lato', sans-serif;
}
a {
font-family: 'Raleway', sans-serif;
}


.contents-inner {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.lorem-text {
  font-size: 20px;
  text-align: center;
}
.text-white {
  color: #fff;
}
.header {
  position: relative;
  box-sizing: border-box;
}
.header-inner {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 99;
  padding: 15px 0;
}
.header-icon {
  float: left;
  color: #4e4e4e;
}
.button-right {
  float: right;
  padding-top: 10px;
}
.header-button {
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 12px;
  border: none;
  box-sizing: border-box;
  transition: all 0.3s;
}
.header-button:hover {
  color: #333;
  cursor: pointer;
}
.bolt-theme {
  background-color: #f2f2f2;
  padding: 311px 0 250px 0;
  box-sizing: border-box;
}
.bolt-theme-text {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}
.free-text {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}
.what-we-can {
  background-color: #74cfae;
  box-sizing: border-box;
  padding: 50px 0 0 0;
}
.iphone {
  float: left;
  margin-left: 150px;
  vertical-align: bottom;
}
.iphone-side-text {
  float: right;
  text-align: center;
  width: 650px;
}
.what-we-can-text {
  font-size: 24px;
  margin-bottom: 35px;
}
.our-latest-work {
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}
.our-wrap {
  text-align: center;
  margin-bottom: 40px;
}
.our-text {
  font-size: 24px;
}
.img-wrap-inner {
  font-size: 0;
  display: inline-block;
  width: 1100px;
}
.img-wrap {
  text-align: center;
}
.img {
  margin-left: 100px;
  float:left;
  box-sizing: border-box;
  opacity: 0.7;
  transition: all 0.3s;
}
.img:hover {
  opacity: 1;
  cursor: pointer;
}
.img:nth-child(3n+1) {
  margin-left: 0px;
}
.img:nth-child(n+4) {
  margin-top: 80px;
  margin-bottom: 90px;
}
.lorem-wrap {
  text-align: center;
}
.lorem {
  float: left;
  margin-left: 150px;
}
.email-me {
  float: left;
  margin-left: 90px;
  padding: 14px 20px;
  background-color: #74cfae;
  border: none;
  box-sizing: border-box;
  transition: all 0.3s;
}
.email-me:hover {
  color: #333;
  cursor: pointer;
}
.our {
  background-color: #4e4e4e;
  box-sizing: border-box;
  padding: 70px 0 100px 0;
}
.our-skills {
  font-size: 24px;
  margin-bottom: 70px;
}
.circle-wrap {
  margin-left: 85px;
}
.circle {
  float: left;
  margin-left: 180px;
}
.circle:first-child {
  margin-left: 0px;
}
.circle-text {
  font-size: 16px;
  margin-top: 15px;
}
.sns {
  background-color: #f2f2f2;
  padding: 200px 0;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}
.sns-icons {
  margin-left: 230px;
}
.icon {
  width: 185px;
  float: left;
  color: #74cfae;
  padding: 30px 0;
  transition: all 0.3s;
}
.icon:hover {
  background-color: #fff;
  cursor: pointer;
}
.crafted {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}
.footer-text {
  float: right;
}
