@charset "UTF-8";



body {
  font-family: 'Lato', sans-serif;
}
a {
  display: inline-block;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}


.contents-inner {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.lorem-text {
  font-size: 20px;
  text-align: center;
}
.text-white {
  color: #fff;
}
.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 15px 0;
  box-sizing: border-box;
}
.header-icon {
  float: left;
  color: #4e4e4e;
}
.button-right {
  float: right;
}
.header-button {
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s;
}
.header-button:hover {
  color: #333;
}
.main {
  padding-top: 78px;
}
.bolt-theme {
  background-color: #f2f2f2;
  padding: 250px 0 250px 0;
  box-sizing: border-box;
}
.bolt-theme-text {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}
.free-text {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}
.what-we-can {
  background-color: #74cfae;
  box-sizing: border-box;
  padding: 50px 0 0 0;
}
.iphone {
  float: left;
  margin-left: 150px;
}
.iphone-img {
  vertical-align: bottom;
}
.iphone-side-text {
  float: right;
  text-align: center;
  width: 650px;
}
.what-we-can-text {
  font-size: 24px;
  margin-bottom: 35px;
}
.our-latest-work {
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}
.our-wrap {
  text-align: center;
  margin-bottom: 40px;
}
.our-text {
  font-size: 24px;
}
.img-wrap-inner {
  font-size: 0;
}
.img-wrap {
  text-align: center;
  margin-bottom: 90px;
}
.img {
  margin-left: 100px;
  float: left;
  box-sizing: border-box;
}
.img-hover {
  opacity: 0.7;
  transition: all 0.3s;
}
.img-hover:hover {
  opacity: 1;
}
.img:nth-child(3n+1) {
  margin-left: 0px;
}
.img:nth-child(n+4) {
  margin-top: 80px;
}
.lorem-wrap {
  text-align: center;
}
.lorem {
  float: left;
  margin-left: 150px;
  width: 600px;
}
.email-me {
  float: left;
  margin-left: 90px;
  padding: 14px 20px;
  background-color: #74cfae;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s;
}
.email-me:hover {
  color: #333;
}
.our {
  background-color: #4e4e4e;
  box-sizing: border-box;
  padding: 70px 0 100px 0;
}
.our-skills {
  font-size: 24px;
  margin-bottom: 70px;
}
.circle-wrap {
  display: inline-block;
}
.circle {
  float: left;
  margin-left: 180px;
}
.circle:first-child {
  margin-left: 0px;
}
.circle-text {
  font-size: 16px;
  margin-top: 15px;
}
.sns {
  background-color: #f2f2f2;
  padding: 200px 0;
  box-sizing: border-box;
  width: 100%;
}
.sns-icons {
  display: inline-block;
}
.icon {
  width: 185px;
  float: left;
}
.icon-trans {
  color: #74cfae;
  transition: all 0.3s;
  padding: 30px 0;
  display: block;
}
.icon-trans:hover {
  background-color: #fff;
}
.footer {
  background-color: #74cfae;
  width: 100%;
  padding: 20px 0 25px 0;
}
.footer-text {
  text-align: right;
}



@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contents-inner {
    width: 97%;
    margin: 0 auto;
    text-align: center;
  }
  .what-we-can {
    padding: 50px 0 25px 0;
  }
  .iphone {
    float: none;
    margin: auto;
  }
  .iphone-side-text {
    float: none;
    margin-top: 20px;
    width: 100%;
  }
  .img-wrap {
    margin-bottom: 80px;
  }
  .img {
    margin: 0;
    float: none;
  }
  .img:nth-child(4) {
    margin-top: 80px;
  }
  .img:nth-child(n+5) {
    margin: 0px;
  }
  .lorem {
    float: none;
    margin: 0px;
    width: 100%;
  }
  .email-me {
    float: none;
    margin: 40px 0 0 0;
  }
  .circle {
    float: none;
    margin-top: 88px;
    margin-left: 0px;
  }
  .circle:first-child {
    margin-top: 0px;
  }
  .sns-icons {
    display: block;
  }
  .icon {
    width: 25%;
  }
}


@media screen and (max-width:767px) {
  .contents-inner {
    width: 97%;
    margin: 0 auto;
    text-align: center;
  }
  .button-right {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 40px;
  }
  .button-right {
    display: none;
  }
  .humberger {
    float: right;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .humberger-inner {
    height: 3px;
    width: 24px;
    background-color: #ddd;
    box-sizing: border-box;
    margin-top: 5px;
  }
  .humberger-inner:first-child {
    margin-top: 0px;
  }
  .bolt-theme {
    padding: 160px 0 160px 0;
    font-size: 80px;
  }
  .what-we-can {
    padding: 50px 0 25px 0;
  }
  .iphone {
    float: none;
    margin: auto;
  }
  .iphone-side-text {
    float: none;
    margin-top: 20px;
    width: 100%;
  }
  .img-wrap {
    margin-bottom: 80px;
  }
  .img {
    margin: 0;
    float: none;
  }
  .img:nth-child(4) {
    margin-top: 80px;
  }
  .img:nth-child(n+5) {
    margin: 0px;
  }
  .lorem {
    float: none;
    margin: 0px;
    width: 100%;
  }
  .email-me {
    float: none;
    margin: 40px 0 0 0;
  }
  .circle {
    float: none;
    margin-top: 88px;
    margin-left: 0px;
  }
  .circle:first-child {
    margin-top: 0px;
  }
  .sns {
    padding: 50px 0;
  }
  .sns-icons {
    display: block;
  }
  .icon {
    float: none;
    width: 100%;
  }
}
